Repository ArnyminerZ/FilaMagenta-App, changes with the labels that .github/labeler.yml gives for each.
All labels: server, app, shared, ios, testing, documentation, github_actions, detekt, gradle, docker, dependencies

Added dependent label
  .github/labels.yml
Labels: none

Added NavigationScreen
  composeApp/src/commonMain/kotlin/storage/settings/SettingsKeys.kt
  composeApp/src/commonMain/kotlin/ui/nav/MainNavigator.kt
  composeApp/src/commonMain/kotlin/ui/screen/LoginScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/MainLoadingScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/MainScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/AppScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/BaseScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
  composeApp/src/desktopTest/kotlin/ui/screen/TestAppScreen.kt
  composeApp/src/desktopTest/kotlin/ui/screen/TestNavigationScreen.kt
Labels: app, testing

Moved `IAuthentication`
  composeApp/src/androidInstrumentedTest/kotlin/stub/network/StubAuthentication.kt
  composeApp/src/androidMain/kotlin/com/filamagenta/android/account/Authenticator.kt
  composeApp/src/commonMain/kotlin/network/backend/Authentication.kt
  composeApp/src/commonMain/kotlin/network/backend/proto/IAuthentication.kt
Labels: app, testing

Added Database
  build.gradle.kts
  composeApp/build.gradle.kts
  composeApp/src/androidMain/kotlin/storage/database/DatabaseProvider.kt
  composeApp/src/commonMain/kotlin/storage/database/DatabaseProvider.kt
  composeApp/src/desktopMain/kotlin/storage/database/DatabaseProvider.kt
  composeApp/src/iosMain/kotlin/storage/database/DatabaseProvider.kt
  gradle/libs.versions.toml
Labels: app, gradle, dependencies

Installed auth for ktor client
  composeApp/build.gradle.kts
  composeApp/src/commonMain/kotlin/network/backend/HttpClientAux.kt
Labels: app, gradle

Extended request utility functions
  composeApp/src/commonMain/kotlin/network/backend/model/BackendConnector.kt
Labels: app

Added UserTransaction
  composeApp/src/commonMain/sqldelight/filamagenta/data/UserTransaction.sq
Labels: app

Defined pages
  composeApp/src/commonMain/kotlin/ui/screen/MainScreen.kt
Labels: app

Moved result
  server/src/main/kotlin/com/filamagenta/endpoint/UserTransactionListEndpoint.kt
  shared/src/commonMain/kotlin/response/endpoint/UserTransactionListResult.kt
Labels: server, shared

Added transaction fetching
  composeApp/src/commonMain/kotlin/network/backend/Transactions.kt
Labels: app

Added coroutines support to SQLDelight
  composeApp/build.gradle.kts
  gradle/libs.versions.toml
Labels: app, gradle, dependencies

Added queries
  composeApp/src/commonMain/sqldelight/filamagenta/data/UserTransaction.sq
Labels: app

Added transaction fetching interface
  composeApp/src/commonMain/kotlin/network/backend/proto/ITransactions.kt
Labels: app

Fixed type conversion
  composeApp/src/androidMain/kotlin/storage/database/DatabaseProvider.kt
  composeApp/src/commonMain/kotlin/storage/database/DatabaseAdapters.kt
  composeApp/src/commonMain/kotlin/storage/database/adapters/FloatToDoubleColumnAdapter.kt
  composeApp/src/commonMain/kotlin/storage/database/adapters/IntToLongColumnAdapter.kt
  composeApp/src/commonMain/kotlin/storage/database/adapters/LocalDateToStringColumnAdapter.kt
  composeApp/src/commonMain/kotlin/storage/database/adapters/TransactionTypeToStringAdapter.kt
  composeApp/src/commonMain/kotlin/storage/database/adapters/UIntToLongColumnAdapter.kt
  composeApp/src/desktopMain/kotlin/storage/database/DatabaseProvider.kt
  composeApp/src/iosMain/kotlin/storage/database/DatabaseProvider.kt
Labels: app

Added selected account fetching helper
  composeApp/src/commonMain/kotlin/accounts/AccountManagerExtensions.kt
  composeApp/src/commonMain/kotlin/network/backend/Transactions.kt
Labels: app

Added transactions loading
  composeApp/src/commonMain/kotlin/ui/screen/MainScreen.kt
Labels: app

Globalized `DrawNavigationItems`
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
Labels: app

Adding support for hiding navigation items.
  composeApp/src/commonMain/kotlin/accounts/AccountManagerExtensions.kt
  composeApp/src/commonMain/kotlin/storage/settings/LiveSettings.kt
  composeApp/src/commonMain/kotlin/ui/data/NavigationItem.kt
  composeApp/src/commonMain/kotlin/ui/data/NavigationItemOption.kt
  composeApp/src/commonMain/kotlin/ui/screen/MainScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/AppScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
  composeApp/src/commonMain/resources/MR/base/strings.xml
  composeApp/src/desktopMain/kotlin/main.kt
Labels: app

Fixed key events
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
Labels: app

Clean key event handler
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
Labels: app

Cleanup
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
Labels: app

Increased initial window size
  composeApp/src/desktopMain/kotlin/main.kt
Labels: app

Opt-in
  composeApp/src/commonMain/kotlin/ui/screen/LoginScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/MainLoadingScreen.kt
Labels: app

Added roles storage
  composeApp/src/androidInstrumentedTest/kotlin/accounts/TestAccountManager.kt
  composeApp/src/androidMain/kotlin/accounts/AccountManager.kt
  composeApp/src/androidMain/kotlin/ui/nav/NavigationReceiver.kt
  composeApp/src/commonMain/kotlin/accounts/AccountManager.kt
  composeApp/src/commonMain/kotlin/accounts/AccountManagerExtensions.kt
  composeApp/src/commonMain/kotlin/ui/nav/MainNavigator.kt
  composeApp/src/commonMain/kotlin/ui/nav/NavigationReceiver.kt
  composeApp/src/commonMain/kotlin/ui/screen/LoginScreen.kt
  composeApp/src/desktopMain/kotlin/accounts/AccountManager.kt
  composeApp/src/desktopMain/kotlin/ui/nav/NavigationReceiver.kt
  composeApp/src/desktopTest/kotlin/accounts/TestAccountManager.kt
  composeApp/src/desktopTest/kotlin/model/TestMainNavigator.kt
  composeApp/src/desktopTest/kotlin/ui/screen/TestAppScreen.kt
  composeApp/src/desktopTest/kotlin/ui/screen/TestNavigationScreen.kt
  composeApp/src/iosMain/kotlin/accounts/AccountManager.kt
  composeApp/src/iosMain/kotlin/ui/nav/NavigationReceiver.kt
Labels: app, testing

Dev
  composeApp/build.gradle.kts
  composeApp/src/androidMain/kotlin/accounts/AccountManager.kt
  composeApp/src/androidMain/kotlin/com/filamagenta/android/account/Authenticator.kt
  composeApp/src/androidMain/kotlin/ui/nav/NavigationReceiver.kt
  composeApp/src/commonMain/kotlin/accounts/AccountManager.kt
  composeApp/src/commonMain/kotlin/network/backend/Users.kt
  composeApp/src/commonMain/kotlin/network/backend/proto/IUsers.kt
  composeApp/src/commonMain/kotlin/ui/model/LoginScreenModel.kt
  composeApp/src/commonMain/kotlin/ui/model/MainScreenModel.kt
  composeApp/src/commonMain/kotlin/ui/nav/MainNavigator.kt
  composeApp/src/commonMain/kotlin/ui/nav/NavigationReceiver.kt
  composeApp/src/commonMain/kotlin/ui/screen/LoginScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/MainLoadingScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/MainScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/AppScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/AppScreenModel.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/AppScreenModelFactory.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreen.kt
  composeApp/src/commonMain/kotlin/ui/screen/model/NavigationScreenModel.kt
  composeApp/src/desktopMain/kotlin/ui/nav/NavigationReceiver.kt
  composeApp/src/iosMain/kotlin/ui/nav/NavigationReceiver.kt
  gradle/libs.versions.toml
  server/src/main/kotlin/com/filamagenta/endpoint/UserProfileEndpoint.kt
  shared/src/commonMain/kotlin/response/endpoint/UserProfileResponse.kt
Labels: server, app, shared, gradle, dependencies

Using shared `UserTransactionListResult`
  server/src/main/kotlin/com/filamagenta/endpoint/UserTransactionListOtherEndpoint.kt
Labels: server

Using shared `UserTransactionListResult`
  server/src/test/kotlin/endpoint/TestUserTransactionListEndpoint.kt
  server/src/test/kotlin/endpoint/TestUserTransactionListOtherEndpoint.kt
Labels: server

.github/labeler.yml:

server:
  - server/**

app:
  - composeApp/**

shared:
  - shared/**

ios:
  - iosApp/**

testing:
  - '**/*Test/**'

documentation:
  - '**/*.md'

github_actions:
  - .github

detekt:
  - config/detekt/detekt-*.yml

gradle:
  - '**/*.gradle.kts'
  - gradle.properties
  - gradle/wrapper/**

docker:
  - docker-compose.prod.yml
  - docker-compose.yml

dependencies:
  - gradle/libs.versions.toml
